* {
    font-family: "Roboto";
}

header {
    background-color: #212121;
    position: relative;
    height: 53px;
}
nav {
    position: fixed;
    width:100%;
    height: 53px;
    color: #fff;
    padding: 18px 70px;
    background-color: #212121;
    z-index: 2;
    right: 0px;
}
.menu{
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-content: center;
    list-style-type: none;
}

.menu-item {
    font-weight: 300;
    font-size: 15px;
    border-right: 3px dotted black;
    padding-right: 28px;
}   

.menu-link {
    text-decoration: none;
    color: #fff;

}

.subheader {
    top:53px;
    min-height: 86px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px 0;
    position: absolute;
    width: 100%;
}

.subheader .official {
    font-weight: 200;
    font-size: 13px;
    opacity: 0.8;
    font-weight: 200;
    font-size: 13px;
}

.contact {
    text-align: right;
}

.contact-us {
    font-weight: 300;
    font-size: 12px;
}

.teleph {
    font-size: 22px;
}

.btn-order {
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    width: 172px;
    height: 46px;
}

/* PROMO SECTION*/

.promo {
    background: url(/resources/img/promo/uber_bg.jpg) center center/cover no-repeat;
    color: white;
    text-align: center;
    min-height: 800px;
}

.promo-header {
    font-weight: 900;
    font-size: 60px;
    padding-top: 150px;
}

.promo-subheader {
    font-weight: bold;
    font-size: 36px;
    margin-top: 10px;
}

.promo-text-1, 
.promo-text-2{
    font-size: 18px;
    line-height: 24px;
}

.promo-text-1 {
    margin-top: 20px;
}
.promo .btn-order {
    margin-top: 116px;
    width: 259px;
    height: 63px;
    font-size: 18px;
}

/*////////////////////////////*/
/*          REASONS           */
/* ////////////////////////// */

.reasons {
    padding: 16px 43px 73px 33px;
}

.blue-circle {
    width: 116px;
    height: 116px;
    background-color: #1EACC7;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}




.reasons .advantages {
    width: 115px;
    height: 27px;
    background-color: #000000;
    text-transform: uppercase;
    font-size: 11px;
    margin: 0 auto;
    color: white;
    text-align: center;
    line-height: 25px;
}

.reasons-header {
    text-transform: uppercase;
    text-align: center;
    margin-top: 32px;
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 0;
}

.reasons .row {
    margin-top: 16px;
}

.reason-item {
    display: flex;
    margin-top: 26px;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
}

.reason-text {
    margin-left: 25px;
    width: 343px;
}

.reason-header {
    font-size: 17px;
    line-height: 21px;
    color: #1EACC7;
}

.reason-descr {
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
}
.reason-text {
    width: 370px;
}